.prod-form-header{
    padding: 10px 80px;
}

.product-form-page{
    padding: 0 80px 30px 80px;
    background-color: var(--lbrown);
}

.review-form-container{
    display: flex;
    flex-direction: column;
}

.prod-form-label{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.product-form-btn{
    background-color: var(--lllbrown);
    border: 1px solid var(--lllbrown);
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    color: white;
}
.product-form-btn:hover{
    background-color: var(--brown);
    border: 1px solid var(--brown);
}
