.user-reviews-page{
    padding:  20px 80px;
    min-height: 90vh;
}

.rev-containers{
    padding: 20px;
    margin: 20px 0;
    border: 1px solid lightgrey;
    background-color: var(--lllsage);
    min-width: 450px;
}

.rev-img{
    height: 100px;
    width: 80px;
}

.rev-prod-container{
    display: flex;
}

.nav-rev-prod{
    text-decoration: none;
    color: black;
}
.nav-rev-prod:hover{
    text-decoration: underline;
    color: var(--darksage);
}

.rev-rev-container{
    display: flex;
    align-items: center;
}
.reviewed-txt{
    margin: 0;
}

.rev-date{
    padding-left: 8px;
}
.star-rev{
    padding: 0;
}

.your-rev-txt{
    font-size: 18px;
}

.rev-text{
    word-break: break-all;
}
.rev-buttons{
    display: flex;
    align-items: baseline;
}

.rev-page-btns{
    height: 40px;
    width: 120px;
    transform: translateY(-15px);
}
