.carts-page{
    overflow: scroll;
}
.carts-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 98vh;
    min-width: 600px;
    overflow-y: scroll;
    padding: 30px 50px;
}
.cart-text{
    text-decoration: none;
    color: white;
}
.line{
    border-top: 1px solid black;
    width: 100%;
}

.price-head-txt{
    padding: 0 40px;
    text-align: right;
    margin: -5px;
}

.cart-compont-name, .sub-total-txt{
    color: var(--forest);
    padding: 0 40px;
}

.cart-items-container{
    width: 550px;
    padding: 15px 0 15px 40px;
    display: flex;
    flex-direction: row;
    color: var(--forest);
    border: 1px solid lightgrey;
    margin: 10px 0;
    background-color: var(--lllsage);
}

.cart-prod-img{
    height: 200px;
    width: 175px;
}
.cart-prod-img:hover .cart-prod-name{
    color: var(--darksage);
    text-decoration: underline;
}

.cart-product-info{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
}

.item-name-price-container{
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: var(--forest);
}
.item-name-price-container:hover .cart-prod-name{
    color: var(--darksage);
    text-decoration: underline;
}

.cart-prod-name{
    font-size: 18px;
}
.cart-prod-price{
    font-weight: 600;
}

.select-qty-dropdown{
    margin: 8px 0;
    padding: 3px;
    border: 1px solid lightgray;
}

.cart-btns{
    padding: 5px 20px;
    border-radius: 5px 5px;
    background-color: var(--yellow);
    border: var(--yellow);
}
.cart-btns:hover{
    background-color: var(--orange);
    border: var(--orange);
}
.updat-btn{
    margin-left: 8px;
}
.delete-cart-btn{
    margin-top: 90px;
}

.checkout-btn{
    border-radius: 5px 5px;
    width: 200px;
    margin: 0 40px 20px 40px;
    padding: 7px;
    background-color: var(--yellow);
    border: var(--yellow);
}
.checkout-btn:hover{
    background-color: var(--orange);
    border: var(--orange);
}

.no-cart-msg{
    padding: 15px;
    text-align: center;
}
.no-cart-name{
    text-align: center;
}
.no-cart-modal{
    padding: 30px 50px;
    min-height: 90vh;
}
