.nav-ul-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-color: var(--darkgreen);
  top:0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px 30px;
}
.logo-img{
  height: 50px;
}
.cart-text{
  align-self: center;
  text-align: center;
  font-size: 15px;
}
.cart-text:hover{
  text-decoration: underline;
}

.cart-favicon{
  color: white;
}
.search-container{
  width: 90%;
  position: relative;
  display: flex;
}
.search-bar{
  margin: 0 20px;
  height: 30px;
  align-self: center;
  flex: 1;
  border: 1px solid grey;
  border-radius: 5px;
}
.search-btn{
  position: absolute;
  height: 100%;
  right: 0;
  background-color: transparent;
  color: grey;
  background-color: white;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: none;
  border-right: 1px solid grey;
  border-radius: 0 5px 5px 0;
  padding: 5px;
  margin: 0;
}

.logged-user-nav-bar{
  display: flex;
  padding: 0 10px;
}
.user-greeting{
  color: white;
  background-color: var(--darkgreen);
  border: var(--darkgreen);
  padding: 0 10px;
  font-size: 13px;
}

.prev-order-txt{
  color: white;
  align-self: center;
  text-decoration: none;
  font-size: 14px;
  padding: 5px;
  text-align: center;
}

.prev-order-txt:hover{
  text-decoration: underline;
}

.hello-btn:hover{
  text-decoration: underline;
}

.profile-dropdown{
  background-color: white;
  color: var(--darkgreen);
  padding: 20px;
  border-radius: 5px 5px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 15px;
  right: 35px;
  z-index: 1;
}

.logout-btn{
  background-color: var(--lightsage);
  border: 1px solid var(--lightsage);
  padding: 4px 12px;
  margin: 12px 0 0 0;

}
.logout-btn:hover{
  background-color: var(--darksage);
  border: 1px solid var(--darksage);
}

.nav-bar{
  display: flex;
  flex-direction: column;
}

.categories-bar{
  border-top: 1px solid white;
  background-color: var(--darkgreen);
}
.category-ul{
  background-color: var(--darkgreen);
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  overflow-x: auto;
}
.cat-li{
  padding: 10px 10px;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.cat-li:hover{
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.cat-icons{
  margin-right: 5px;
}
.profile-dropdown {
  position: absolute;
  background-color: var(--lllsage);
}

.profile-dropdown-options{
  margin: 12px;
}

.profile-dropdown-options:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--darksage);
}
.user-dropdowns{
  margin-bottom: 7px;
}

.your-rev-nav{
  text-decoration: none;
  color: var(--darkgreen);
  margin: 5px 0;
  border: 1px soldi red;
}
.your-rev-nav:hover{
  text-decoration: underline;
}
